.ios,.md,.wp{
  page-user-login {
      .toolbar-background{ background:transparent; border-style:none;}
      .toolbar::after,.header-md::after{ background-image:none;}
      ion-content{
        background-color:color($colors,primary);
        background-size:100% auto;
      }
      .item{border:$border-color 1px solid !important; margin-bottom:10px;}
      .white-border{border: $rprimary 1px solid;}
  }
}
