.ios,.md,.wp{
  page-user-login {
      .toolbar-background{ background:transparent; border-style:none;}
      .toolbar::after,.header-md::after{ background-image:none;}
      ion-content{
        background-color:color($colors,primary);
        background-size:100% auto;
      }
      .scroll-content{padding: 0px !important;}
      .input-div{
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 90%;
        display: block;
        margin-left: 5%;
      }
      .item{border:$border-color 1px solid !important; margin-bottom:10px;}
      .white-border{border: $rprimary 1px solid;}
      .title-image{
        position: relative;
        height: 50%;
      }
    .title-image img{
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .content-center{text-align: center;display: flex;justify-content: center;}
    .forgot-button{width: 150px;}
    .token_label{font-size: 10px;color: white;}
  }
}
